*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(199, 202, 202);
}

.rect{
     height: 400px;
     width: 800px;
     border: 1px solid red ;
     box-shadow: 0 0 7px black;
}
